
  <ion-header>
    <ion-navbar color="dark">
    
      
    </ion-navbar>
  </ion-header>


  <ion-content padding>

  <ion-toolbar>
    <ion-segment [(ngModel)]="icons" >
      <ion-segment-button value="Naan" (ionSelect)="type_naan()">
        <button ion-button block round> Naan</button>
      </ion-segment-button>
      <ion-segment-button value="Cheese" (ionSelect)="type_cheese()">
        <button ion-button block round > Naan Cheese</button>
      </ion-segment-button>
    
    </ion-segment>
  </ion-toolbar>
  <div style="align-content: center">
    <img src="assets/imgs/4.jpg" class="image" >
  </div>
  <br>
  
  <ion-item>
      <ion-avatar item-start>
          <img src="assets/imgs/user.png">
      </ion-avatar>
      <ion-label> Mr/Mme : {{name}}</ion-label>
  </ion-item>
  <ion-item-group>
    <ion-item-divider color="primary" class="bold"> </ion-item-divider>
    
    <div *ngIf="icons === 'Naan'">
      <ion-list radio-group [(ngModel)]="commande">
          <ion-item *ngFor="let prod of produits">
              <ion-radio value={{prod.nom_produit}} (ionSelect)="Prix(prod.prix_produit)"></ion-radio>
              <ion-label>{{prod.nom_produit}}</ion-label>
            <!-- <ion-toggle (ionChange)="Vsuppelement_mayonaise()" [checked]="Mayonaise"></ion-toggle>-->
            <ion-label style="color: red"> {{prod.prix_produit}}</ion-label>
            </ion-item>
      </ion-list>
      
    </div>
    <div *ngIf="icons === 'Cheese'">
      <ion-list radio-group [(ngModel)]="commande">
        <ion-item *ngFor="let prod of produits_cheese">
            <ion-radio value={{prod.nom_produit}} (ionSelect)="Prix(prod.prix_produit)"></ion-radio>
            <ion-label>{{prod.nom_produit}}</ion-label>
          <!-- <ion-toggle (ionChange)="Vsuppelement_mayonaise()" [checked]="Mayonaise"></ion-toggle>-->
          <ion-label style="color: red"> {{prod.prix_produit}}</ion-label>
          </ion-item>
    </ion-list>
    </div>
  
  </ion-item-group>
  <!-- App settings-->
  <ion-item-group>
      <ion-item-divider color="secondary" class="bold">Ingredients</ion-item-divider>
      <ion-item *ngFor="let ingrd of options">
        <ion-label>{{ingrd.nom_ingredient}}</ion-label>
      <!-- <ion-toggle (ionChange)="Vsuppelement_mayonaise()" [checked]="Mayonaise"></ion-toggle>-->
    <ion-checkbox [checked]=false [(ngModel)]="ingrd.checked" (ionChange)="Event(ingrd.checked)"></ion-checkbox>
    
      </ion-item>
    <ion-item-divider color="secondary" class="bold">Supplements</ion-item-divider>
    <ion-item *ngFor="let ingrd of ingredient">
      <ion-label>{{ingrd.nom_ingredient}}</ion-label>
      <ion-label color="danger">{{ingrd.prix}}</ion-label>
    <!-- <ion-toggle (ionChange)="Vsuppelement_mayonaise()" [checked]="Mayonaise"></ion-toggle>-->
  <ion-checkbox  [(ngModel)]="ingrd.checked" (ionChange)="verif_ing(ingrd)"></ion-checkbox>
    
    </ion-item>
   
<!--<ion-label> Commande : {{commande}}</ion-label>-->
  </ion-item-group>  

  <!--sign out button-->
  <button ion-button color="primary" full tappable (click)="AddCart()">Ajout Au Panier</button>


  </ion-content>
