
<ion-header>

  <ion-navbar color="dark">
      
      
     
  </ion-navbar>

</ion-header>


<ion-content padding>
   
  
   <!-- <ion-list>
       
           
          <ion-item *ngFor="let pan of panier " (click)="SupprimerPanier(pan.id_detail)">
            <ion-avatar item-start>
              <img src="assets/imgs/{{showImage(pan.produit)}}"/>
            </ion-avatar>
              <p>Produit: {{pan.produit}}</p>
              <p>Options: {{pan.options}}</p>
              <p>supplement : {{pan.supplement}}</p>
              <p> Quantité : {{pan.Qte}}</p>
              <p>Prix: {{pan.prix}}</p>
              
             
              
          </ion-item>
         
      
      </ion-list>-->
      <ion-card *ngFor="let pan of panier " (click)="SupprimerPanier(pan.id_detail)">
   
    
        <ion-toolbar color="primary">
            <ion-card-title color="light"> {{pan.produit}}</ion-card-title>
        </ion-toolbar>
       
      
      <div *ngIf="panier.length!=0">
       <ion-list>
         <ion-item>
           <ion-avatar item-start>
           <img src="assets/imgs/harvest.png">
           </ion-avatar>
           <ion-label>Ingredients :      {{pan.options}}</ion-label>
         </ion-item>
         <ion-item>
            <ion-avatar item-start>
            <img src="assets/imgs/plus.png">
            </ion-avatar>
            <ion-label>Supplement :    {{pan.supplement}}</ion-label>
          </ion-item>
          <ion-item *ngIf=" pan.type=='Boisson'" >
            <ion-avatar item-start>
              <img src="assets/imgs/qte.png">
              </ion-avatar>
              <ion-label>Quantité :    {{pan.Qte}}</ion-label>
            </ion-item>
         <ion-item>
            <ion-avatar item-start>
            <img src="assets/imgs/money.png">
            </ion-avatar>
            <ion-label>prix :      {{pan.prix}}  dt</ion-label>
          </ion-item>
       </ion-list>
        </div>
    </ion-card>
    <ion-item-divider></ion-item-divider>
    <div *ngIf="panier.length!=0">
        
      <ion-label style="text-align:center"> Type de Commande </ion-label>
      <ion-list radio-group [(ngModel)]="typeCommande">
        <ion-item>
          <ion-label>Livraison</ion-label>
          <ion-radio value="Livraison" checked></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Reservation</ion-label>
          <ion-radio value="Reservation"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Importer</ion-label>
          <ion-radio value="Importer" ></ion-radio>
        </ion-item>
      </ion-list>
      <ion-item> 
          <ion-label> Adresse de Livraison : 
           
          </ion-label>
          <ion-input [(ngModel)]="adrLivraison"></ion-input>
        </ion-item>
      <button ion-button block   (click)="ConfirmerCommande()" > Confirmer </button>
    </div>

</ion-content>
