<ion-tabs color="light">
    <ion-tab [root]="accueilRoot" tabTitle="Menu" tabIcon="pizza"></ion-tab>
    <ion-tab [root]="panierRoot" tabTitle="Panier" tabIcon="cart"></ion-tab>
    <ion-tab [root]="commandeRoot" tabTitle="Commande" tabIcon="create"></ion-tab>
   
   
</ion-tabs>
