

<ion-content padding>
  <ion-item>
    <ion-avatar item-start>
        <img src="assets/imgs/user.png">
    </ion-avatar>
    <ion-label> Mr/Mme : {{name}}</ion-label>
</ion-item>

<!-- <ion-list>
   
       
      <ion-item *ngFor="let pan of panier " (click)="SupprimerPanier(pan.id_detail)">
        <ion-avatar item-start>
          <img src="assets/imgs/{{showImage(pan.produit)}}"/>
        </ion-avatar>
          <p>Produit: {{pan.produit}}</p>
          <p>Options: {{pan.options}}</p>
          <p>supplement : {{pan.supplement}}</p>
          <p> Quantité : {{pan.Qte}}</p>
          <p>Prix: {{pan.prix}}</p>
          
         
          
      </ion-item>
     
  
  </ion-list>-->
  <ion-card *ngFor="let pan of panier " >


    <ion-toolbar color="danger">
        <ion-card-title color="light"> {{pan.produit}}</ion-card-title>
    </ion-toolbar>
   
  
  <div>
   <ion-list>
     <ion-item>
       <ion-avatar item-start>
       <img src="assets/imgs/harvest.png">
       </ion-avatar>
       <ion-label>Ingredients :      {{pan.options}}</ion-label>
     </ion-item>
     <ion-item>
        <ion-avatar item-start>
        <img src="assets/imgs/plus.png">
        </ion-avatar>
        <ion-label>Supplement :    {{pan.supplement}}</ion-label>
      </ion-item>
      <ion-item *ngIf=" pan.type=='Boisson'" >
        <ion-avatar item-start>
          <img src="assets/imgs/qte.png">
          </ion-avatar>
          <ion-label>Quantité :    {{pan.Qte}}</ion-label>
        </ion-item>
      
     <ion-item>
        <ion-avatar item-start>
        <img src="assets/imgs/money.png">
        </ion-avatar>
        <ion-label>prix :      {{pan.prix}}  dt</ion-label>
      </ion-item>
     
   </ion-list>
    </div>
  
</ion-card>
<button ion-button round  block color="danger" [hidden]="affiche" (click)="CloseModal()" style=" text-align:center"> Retourner </button>
</ion-content>
